<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>The awesome application</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="/bower_components/requirejs/require.js"></script>
    <script type="text/javascript" src="/scripts/common/config.js"></script>
</head>
<body>
    <div class="wrapper" layout:fragment="wrapper">
        Hi~
    </div>
    <div layout:fragment="script"></div>
</body>
</html>