<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8" />
    <title>注册列表</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div layout:fragment="wrapper">
        <div class="indexWrap">
            <div class="contentTableWrap">
                <h2>
                    已注册人数
                </h2>
                <table>
                    <thead>
                    <tr>
                        <td>
                            id
                        </td>
                        <td>
                            用户名
                        </td>
                        <td>
                            电话号
                        </td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p>
                    <a href="/">退出</a>
                </p>
            </div>
        </div>
    </div>
    <div layout:fragment="script" th:remove="tag">
        <script type="text/javascript" src="/scripts/list.js"></script>
    </div>
</body>
</html>