<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8" />
    <title>register</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div layout:fragment="wrapper">
        <div class="indexWrap">

            <form action="javascript:void(0)" class="contentWrap">
                <h2>注册</h2>
                <p>
                    <label>用户名</label>
                    <input type="text" name="username" placeholder="请输入用户名" />
                </p>
                <p>
                    <label for="">密码</label>
                    <input type="password" name="password" placeholder="请输入密码" />
                </p>
                <p>
                    <label for="">确认密码</label>
                    <input type="password" name="confirmPassword" placeholder="请输入确认密码" />
                </p>
                <p>
                    <label for="">电话</label>
                    <input type="phone" name="phone" placeholder="请输入电话号码" />
                </p>
                <p>
                    <a href="javascript:void(0)" id="submit">注册</a>
                    <a href="/">去登录</a>

                </p>
            </form>
        </div>
        <div layout:fragment="script" th:remove="tag">
            <script type="text/javascript" src="/scripts/register.js"></script>
        </div>
    </div>
</body>
</html>


