<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8" />
    <title>注册列表</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<div layout:fragment="wrapper">
    <div class="indexWrap">
        <div class="contentWrap">
            <h2>Nice</h2>
            <p>
                <label for="">用户名</label>
                <input type="text" placeholder="请输入用户名">
            </p>
            <p>
                <label for="">密码</label>
                <input type="password" placeholder="请输入密码">
            </p>
            <p>
                <a href="">登录</a>
                <a href="/web/register">注册</a>
            </p>
        </div>
    </div>
</div>
<div layout:fragment="script" th:remove="tag">
    <script type="text/javascript" src="/scripts/list.js"></script>
</div>
</body>
</html>